html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    background-color: #EDE8DC;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #181C14;
    color: #EDE8DC;
}

#logo {
    width: 150px;
    height: auto;
    background-color: #181C14;
  }

nav {
    background-color: #181C14;
    text-align: center;
    align-items: center;
}

nav ul{
    color: #EDE8DC;
    list-style: none;
    text-align: center;
    padding: 6px;
    background-color: #181C14;
    padding: 19px;
    margin-top: 19px;
}
nav ul li { 
    display: inline;
    margin: 0 20px;
  }
  
  nav ul li a {
    color: #ECDFCC;
    text-decoration: none;
    font-size: 18px;
    margin-right: 40px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    text-decoration:none;
  }

.about-box {
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
    margin-left: 130px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    height: 90%;
    width: 100%;
    text-align: justify;
    font-size: 19px;
}

.about-box h2 {
    color: #181C14;
    border-bottom: 2px solid #EDE8DC;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 22px;
}

.about-box p {
    color: #333;
    font-size: 18px;

}

.skills-box {
    background-color: white;
    padding: 50px;
    margin-left: 130px;
    margin-top: 70px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    height: 90%;
    width: 100%;
    text-align: justify;
    font-size: 19px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    white-space: nowrap;
}

.skills-h2 h2 {
    color: #181C14;
    border-bottom: 2px solid #EDE8DC;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 22px;
}

.skills-box h4 {
    color: #EDE8DC;
    background-color: #3C3D37;
    width: 10%;
    padding: 5px;
    margin-top: 80px;
    margin-left: 45px;
    text-align: center;
    border-radius: 7px;
    font-size: 16px;
}

.educ-box {
    background-color: white;
    padding: 50px;
    margin-left: 130px;
    margin-top: 70px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    height: 90%;
    width: 100%;
    text-align: justify;
    font-size: 19px;
}

.educ-box h2 {
    color: #181C14;
    border-bottom: 2px solid #EDE8DC;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 22px;
}

.educ-box h4 {
    color: #333;

}

.educ-box p {
    color: #333;
    font-size: 18px;

}

.exp-box {
    background-color: white;
    padding: 50px;
    margin-left: 130px;
    margin-top: 70px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    height: 90%;
    width: 100%;
    text-align: justify;
    font-size: 19px;
}

.exp-box h2 {
    color: #181C14;
    border-bottom: 2px solid #EDE8DC;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 22px;
}

.exp-box p {
    color: #333;
    font-size: 18px;

}


.projects-box {
    background-color: white;
    padding: 50px;
    margin-left: 130px;
    margin-top: 70px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    height: 90%;
    width: 100%;
    text-align: justify;
    font-size: 19px;
}

.projects-box h2 {
    color: #181C14;
    border-bottom: 2px solid #EDE8DC;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 22px;
}

.projects-box p {
    color: #555;
    font-size: 18px;

}

.arti-box {
    background-color: white;
    padding: 50px;
    margin-left: 130px;
    margin-top: 70px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    height: 90%;
    width: 100%;
    text-align: justify;
    font-size: 19px;
}

.arti-box h2 {
    color: #181C14;
    border-bottom: 2px solid #EDE8DC;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 22px;
}

.arti-box p a{
    color: #333;
    font-size: 18px;
    text-decoration: none;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 9px;
    margin-top: 60px;
    background-color: #181C14;
    color: #EDE8DC;
              
}








